html,
body {
  margin: 0;
  padding: 0;
  background-color: #faf8ef;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}
.stage .block-sec {
  width: 465px;
  height: 465px;
  margin: 150px auto;
  background-color: #bbada0;
  cursor: default;
  border-radius: 6px;
  box-size: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  position: relative;
}
.stage .block-sec .block {
  width: 97.5px;
  height: 97.5px;
  position: absolute;
  margin: 15px;
  background: #cdc1b4;
  border-radius: 3px;
  font-size: 53px;
  line-height: 97.5px;
  text-align: center;
  font-weight: 600;
  transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  /* Firefox 4 */
  -webkit-transition: background 0.2s ease-in-out;
  /* Safari å’Œ Chrome */
  -o-transition: backgroundnpmn 0.2s ease-in-out;
  /* Opera */
}
.stage .block-sec .block-0 {
  background-color: #eee4da;
  color: #776e65;
}
.stage .block-sec .block-1 {
  background-color: #ede0c8;
  color: #776e65;
}
.stage .block-sec .block-2 {
  background-color: #f2b179;
  color: #f9f6f2;
}
.stage .block-sec .block-3 {
  background-color: #f59563;
  color: #f9f6f2;
}
.stage .block-sec .block-4 {
  background-color: #f67c5f;
  color: #f9f6f2;
}
.stage .block-sec .block-5 {
  background-color: #f65e3b;
  color: #f9f6f2;
}
.stage .block-sec .block-6 {
  background-color: #ff9900;
  color: #776e65;
}
.stage .block-sec .block-7 {
  background-color: #cc6600;
  color: #776e65;
}
.stage .block-sec .block-8 {
  background-color: #663300;
  color: #776e65;
}
.stage .block-sec .block-9 {
  background-color: #333300;
  color: #776e65;
}
.stage .block-sec .block-10 {
  background-color: #000000;
  color: #776e65;
}
