@stageW: 450px;
@stageH: 450px;
@blockMarginW: 15px;
@blockFontSize: 53px;

html,body {
	margin: 0;
	padding: 0;
	background-color: #faf8ef;
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

.stage {
	padding-top: 150px;
	.block-sec {
		width: @stageW + @blockMarginW;
		height: @stageH + @blockMarginW;
		margin: 0 auto;
		background-color: #bbada0;
		cursor: default;
		border-radius: 6px;

		box-size: border-box;
		-moz-box-sizing:border-box; /* Firefox */
		-webkit-box-sizing:border-box; /* Safari */

		position: relative;

		.block{
			width: @stageW / 4 - @blockMarginW;
			height: @stageH / 4 - @blockMarginW;
			position: absolute;
			margin: @blockMarginW;
			background: #cdc1b4;
			border-radius: 3px;

			font-size: @blockFontSize;
			line-height: @stageH / 4 - @blockMarginW;
			text-align: center;
			font-weight: 600;
			transition: background .2s ease-in-out ;
			-moz-transition: background .2s ease-in-out ; /* Firefox 4 */
			-webkit-transition: background .2s ease-in-out ; /* Safari 和 Chrome */
			-o-transition: backgroundnpmn .2s ease-in-out ; /* Opera */ 
			&-0{
				background-color:#eee4da;
				color: #776e65;
			}
			&-1{
				background-color:#ede0c8;
				color: #776e65;
			}
			&-2{
				background-color:#f2b179;
				color: #f9f6f2;
			}
			&-3{
				background-color:#f59563;
				color: #f9f6f2;
			}
			&-4{
				background-color:#f67c5f;
				color: #f9f6f2;
			}
			&-5{
				background-color:#f65e3b;
				color: #f9f6f2;
			}
			&-6{
				background-color:#ff9900;
				color: #776e65;
			}
			&-7{
				background-color:#cc6600;
				color: #776e65;
			}
			&-8{
				background-color:#663300;
				color: #776e65;
			}
			&-9{
				background-color:#333300;
				color: #776e65;
				font-size: 40px;
			}			
			&-10{
				background-color:#000000;
				color: #776e65;
				font-size: 40px;
			}
		}
	}
}